## Libraries to import

In [10]:
import pandas as pd

## Read from the Excels that have de data

In [2]:
nyt_1701 = pd.read_excel('../1. Data/NYT_201701.xlsx')
nyt_1702 = pd.read_excel('../1. Data/NYT_201702.xlsx')
nyt_1703 = pd.read_excel('../1. Data/NYT_201703.xlsx')
nyt_1704 = pd.read_excel('../1. Data/NYT_201704.xlsx')
nyt_1801 = pd.read_excel('../1. Data/NYT_201801.xlsx')
nyt_1802 = pd.read_excel('../1. Data/NYT_201802.xlsx')
nyt_1803 = pd.read_excel('../1. Data/NYT_201803.xlsx')
nyt_1804 = pd.read_excel('../1. Data/NYT_201804.xlsx')

## Concatenate all the data

Concatenate the data to manage it in one dataframe.

In [3]:
nyt = pd.concat([nyt_1701,nyt_1702,nyt_1703,nyt_1704,nyt_1801,nyt_1802,nyt_1803,nyt_1804], axis=0, ignore_index=True)
nyt.tail()

/usr/local/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

,abstract,articleID,articleWordCount,byline,documentType,headline,keywords,multimedia,newDesk,printPage,pubDate,sectionName,snippet,source,typeOfMaterial,webURL
8334,NaN,5ae82c93068401528a2ab969,1004,By CLAIRE CAIN MILLER,article,This Common Question Reinforces the Gender Pay...,"['Discrimination', 'Wages and Salaries', 'Labo...",68,Upshot,3,2018-05-01 09:00:01,Unknown,Several states and cities have ordered employe...,The New York Times,News,https://www.nytimes.com/2018/05/01/upshot/how-...
8335,NaN,5ae82c95068401528a2ab96b,1043,By TRACY J. GATES,article,"Anna, Llama and Me","['Friendship', 'Dewdney, Anna', 'Writing and W...",65,Well,0,2018-05-01 09:00:02,Family,"The beginning, middle and end of a picture boo...",The New York Times,News,https://www.nytimes.com/2018/05/01/well/family...
8336,NaN,5ae82c9d068401528a2ab96d,659,Interview by AUDIE CORNISH,article,Gen. Michael Hayden Has One Regret: Russia,"['Classified Information and State Secrets', '...",66,Magazine,70,2018-05-01 09:00:06,Unknown,"The former N.S.A. and C.I.A. chief on Trump, S...",The New York Times,News,https://www.nytimes.com/2018/05/01/magazine/ge...
8337,NaN,5ae82c9f068401528a2ab96f,1155,By JASON ROBERT BROWN,article,There Is Nothin’ Like a Tune,"['Books and Literature', 'Purdum, Todd S', 'Th...",68,BookReview,17,2018-05-01 09:00:07,Book Review,"In “Something Wonderful,” Todd S. Purdum analy...",The New York Times,Review,https://www.nytimes.com/2018/05/01/books/revie...
8338,NaN,5ae82ca3068401528a2ab97a,2055,By MICHAEL PAULSON,article,Unknown,"['Theater', 'Tony Awards (Theater Awards)', 'A...",68,Culture,0,2018-05-01 09:00:09,Unknown,"A pair of two-part productions, “Harry Potter ...",The New York Times,News,https://www.nytimes.com/2018/05/01/theater/ton...

## Drop unnecessary columns

Columns with no useful information for the Sentiment Analysis are droped.

In [4]:
nyt.drop(columns=['abstract', 'articleID', 'byline', 'documentType', 'multimedia', 'newDesk', 'printPage', 'pubDate', 'sectionName', 'source', 'typeOfMaterial','webURL'], inplace=True)
nyt.head()

,articleWordCount,headline,keywords,snippet
0,1324,G.O.P. Leadership Poised to Topple Obama’s Pi...,"['United States Politics and Government', 'Law...",The most powerful and ambitious Republican-led...
1,2836,Fractured World Tested the Hope of a Young Pre...,"['Obama, Barack', 'Afghanistan', 'United State...",A strategy that went from a “good war” to the ...
2,445,Little Troublemakers,"['Crossword Puzzles', 'Boxing Day', 'Holidays ...",Chuck Deodene puts us in a bubbly mood.
3,864,"Angela Merkel, Russia’s Next Target","['Cyberwarfare and Defense', 'Presidential Ele...","With a friend entering the White House, Vladim..."
4,309,Boots for a Stranger on a Bus,"['Shoes and Boots', 'Buses', 'New York City']",Witnessing an act of generosity on a rainy day.

Keywords column is also droped. Since it conveys information, it needs some more explanation. The main reason why this column is dropped is that this words have intend no meaningful syntactic information.

In [5]:
nyt.drop(columns=['keywords'], inplace=True)
nyt.head()

,articleWordCount,headline,snippet
0,1324,G.O.P. Leadership Poised to Topple Obama’s Pi...,The most powerful and ambitious Republican-led...
1,2836,Fractured World Tested the Hope of a Young Pre...,A strategy that went from a “good war” to the ...
2,445,Little Troublemakers,Chuck Deodene puts us in a bubbly mood.
3,864,"Angela Merkel, Russia’s Next Target","With a friend entering the White House, Vladim..."
4,309,Boots for a Stranger on a Bus,Witnessing an act of generosity on a rainy day.

In [6]:
nyt[nyt.headline == 'Unknown']

,articleWordCount,headline,snippet
20,346,Unknown,The pollution in Beijing has been particularly...
23,769,Unknown,"After losing three limbs in Afghanistan, a Mar..."
42,575,Unknown,2017 really isn’t 2010.
56,346,Unknown,"The play, by Keith A. Wallace, follows an Afri..."
81,1312,Unknown,"Friday: A lesson on snowflakes, a winter weath..."
...,...,...,...
8296,1135,Unknown,Monday: On patrol with undercover Sanitation D...
8302,880,Unknown,With the U.S. and China vying for tech leaders...
8307,1227,Unknown,These newly popular long-aged spirits come wit...
8310,1139,Unknown,The two wireless carriers argue that a merger ...
8338,2055,Unknown,"A pair of two-part productions, “Harry Potter ..."

## Drop of rows with healdine as 'Unknown'

In [7]:
nyt = nyt[nyt.headline != 'Unknown']

In [8]:
nyt.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7668 entries, 0 to 8337
Data columns (total 3 columns):
articleWordCount    7668 non-null int64
headline            7668 non-null object
snippet             7668 non-null object
dtypes: int64(1), object(2)
memory usage: 239.6+ KB

In [9]:
nyt.head()

,articleWordCount,headline,snippet
0,1324,G.O.P. Leadership Poised to Topple Obama’s Pi...,The most powerful and ambitious Republican-led...
1,2836,Fractured World Tested the Hope of a Young Pre...,A strategy that went from a “good war” to the ...
2,445,Little Troublemakers,Chuck Deodene puts us in a bubbly mood.
3,864,"Angela Merkel, Russia’s Next Target","With a friend entering the White House, Vladim..."
4,309,Boots for a Stranger on a Bus,Witnessing an act of generosity on a rainy day.

## Create csv of the data cleaned

In [16]:
nyt.to_csv('nyt.csv', index=False)